.highlighted {
  background-color: var(--ant-color-fill-alter-solid);
}

.searchWrapper {
  display: inline-flex;
  gap: var(--ant-table-transfer-padding-between);
  font-size: var(--ant-font-size);
  font-weight: 400;
  width: 100%;
}

.search {
  width: 100%;
}

/*TODO: токены берутся из компонента Card, подумать над этим в задаче UIKIT-507*/
.card {
  width: 100%;
  background: var(--ant-table-transfer-fill);
  border-radius: var(--ant-table-transfer-border-radius);

  :global(.ant-table-thead) {
    border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
  }
}

.cardHead {
  background: var(--ant-table-transfer-table-header-fill) !important;
  min-height: var(--ant-table-transfer-container-height) !important;
  padding: var(--ant-table-transfer-padding-vertical) var(--ant-table-transfer-padding-horizontal) !important;
  border-bottom: var(--ant-line-width) var(--ant-line-type) var(--ant-color-split) !important;
}

.cardBody {
  padding: 1px 0 8px !important;
}
