.hidden {
  visibility: hidden;
  height: 0;
  padding: 0 !important;
}

.titles {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-left: 16px;
}

.transfer-wrapper :global(.ant-transfer-operation span.anticon-right),
.transfer-wrapper :global(.ant-transfer-operation span.anticon-left) {
  display: flex;
}

.transfer-wrapper :global(.ant-transfer-list-header-dropdown) {
  margin-bottom: 3px;
}

.transfer-no-selection-actions :global(.ant-transfer-list-header-dropdown) {
  display: none;
}

.transfer-no-selection-actions :global(.ant-transfer-list-header-selected) {
  margin-left: 4px;
}
